*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
}
nav{
  background-color:#3AAFA9 ;
  width: 100vw;
  height: 80px;
  margin: auto;
  padding: 0px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#logo a{
  font-size:24px;
  color: white;
  text-decoration: none;
}
#logo a span{
  color: white;
  font-size: 40px;
}
#searchbar input{
  width: 300px;
  height: 35px;
  padding-left: 20px;
  border: none;
  border-radius: 20px 0px 0px 20px;
  font-size: 15px;
}
#searchbar button{
  background-color: #17252A;
  color: white;
  width: 100px;
  height: 35px;
  border: 1px solid #17252A;
  border-radius: 0px 20px 20px 0px;
  font-size: 15px;
}
#searchbar button:hover{
  background-color: white;
  color: #17252A;
}
#nav-link{
  display: flex;
}
#nav-link a{
  color: white;
  margin: 0px 15px;
  text-decoration: none;
}
#nav-link a:first-child , #nav-link a:nth-child(2)  {
  color: #17252A;
  background-color: white;
  padding: 8px 18px;
  border-radius: 3px;
}
#nav-link a:last-child{
  font-size:40px;
  color: white;
}

.home{
  padding: 10px 100px;
}
.home>h1{
  color: #3AAFA9;
  font-size: 35px;
  margin: 20px 0px;
}
.movies-list{
  width: 95%;
  margin: auto;
  display: flex;
  overflow: scroll;
}
.movies-list::-webkit-scrollbar{
  display: none;
}
.movie{
  background-color: #DEF2F1;
  width: 220px;
  height: auto;
  margin: 3px 10px;
  padding: 5px 10px;
  border-radius: 7px;
  transition: 0.3s;
}
.movie:hover{
  transform: scale(1.05);
}

.movie h1{
  font-size: 20px;
}
.movie img{
  width: 200px;
  height: 250px;
  border-radius: 7px;
}

#loader{
  width: 200px;
  height: 200px;
  margin: 20px auto;
  border-top: dotted 10px black;
  border-left: dotted 10px black;
  border-radius: 50%;
  animation: load 1s infinite linear;
}
@keyframes load {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
  
}