@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Belanosima:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Poppins:wght@300&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;  
  color: black;
}
body{
  background-color: #ffffff;
}
/* ----------------SIGNUP---------------- */

.signup , .login{
  text-align: center;
}
.signup h1 , .login h1{
  margin: 20px auto;
}
.signup hr , .login hr{
  width: 80%;
  margin: 10px auto;
  border: solid #009e6f 1px;
}

.signup form , .login form{
  background-color: #009e6f;
  width: 350px;
  height: auto;
  margin: 30px auto;
  padding: 20px;
  border-radius: 7px;
}
.signup form input  , .login form input {
  display: block;
  width: 90%;
  height: 35px;
  margin: 8px auto;
  padding-left: 10px;
  border: none;
  border-radius: 4px;
}
.signup form input[type="submit"] ,
.login form input[type="submit"] 
{
  width: 60%;
  margin: 25px auto 20px auto;
}

.signup form input[type="submit"]:active ,
.login form input[type="submit"]:active
{
    background-color: black;
    color: white;
}





nav{
  background-color:#009e6f ;
  width: 100vw;
  height: 60px;
  margin: auto;
  padding: 0px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 1000;
}
#logo a{
  font-size:27px;
  color: white;
  text-decoration: none;
  font-family: 'Belanosima', sans-serif;
  display: flex;
  align-items: center;
}
#logo a span{
  color: white;
  font-size: 40px;
}
#searchbar{
  /* background-color: #ff0000; */
  width: 30%;
  border: none;
  outline: white solid 1px;
  outline-offset: 2px;
  border-radius: 5px;
}
#searchbar input{
  width: 70%;
  height: 30px;
  padding-left: 20px;
  border: none;
  border-radius: 5px 0px 0px 5px;
  font-size: 15px;
}
#searchbar input:focus{
  outline: none;
}



#searchbar button{
  background-color: rgb(255, 255, 255);
  color: #009e6f;
  width: 30%;
  height: 30px;
  border: none;
  border-left: #009e6f solid 1px;
  border-radius: 0px 5px 5px 0px;
  font-size: 15px;
  font-weight: 600;
}
#searchbar button:active{
  background-color: white;
  color: #17252A;
}


#searchbar{
  position: relative;
}


#searchbar input:focus ~ #suggestion{
  display: block;
}

#suggestion{
  display: none;
  position: absolute;
  top:35px;
  left:5px;

  background-color: rgba(0, 0, 0, 0.575);
  border-radius: 0px 0px 10px 10px;
  width: 325px;
}
#suggestion:hover{
  display: block;
}

#suggestion p{
  font-size: 18px;
  padding-left: 10px;
  margin: 5px 0px;
  transition: 0.3s;
  color: white; 
  font-weight: 400;
}
#suggestion p:hover{
  transform: scale(1.05);
  cursor: pointer;
}


#nav-link{
  display: flex;
}
#nav-link a{
  font-size: 16px;
  font-weight: 600;
  color: white;
  margin: 0px 15px;
  text-decoration: none;
  transition: 0.3s;
}
#nav-link a:first-child , #nav-link a:nth-child(2)  {
  color: white;
  background-color: #009e6f;
  padding: 8px 18px;
  border-radius: 3px;
}
#nav-link a:first-child:hover , #nav-link a:nth-child(2):hover  {
  color: #17252A;
  background-color: white;
}
#nav-link a:last-child{
  font-size:40px;
  color: white;
}

/* ---------------------HOME---------------------------------- */
.home{
  padding: 10px 70px;
}
.home>h1{
  position: sticky;
  top: 60px;
  z-index: 10;
  background-color: white;
  color: #009e6f;
  font-size: 35px;
  margin: 20px 0px;
}

.movies-list{
  width: 100%;
  margin: auto;
  padding: 10px;
  display: flex;
  overflow: scroll;
}
.movies-list::-webkit-scrollbar{
  display: none;
}
.movie{
  /* background-color: #131313; */
  width: 220px;
  height: auto;
  margin: 3px 10px;
  padding: 10px;
  /* border: solid 0.5px rgba(0, 0, 0, 0.336); */
  border-radius: 7px;
  transition: 0.3s;
}
.movie a{
  text-decoration: none;
}
.movie:hover{
  transform: scale(1.05);
}

.movie h1{
  font-size: 20px;
  color: rgb(66, 62, 62);
}
.movie p{
  color: rgb(61, 57, 57);
  font-size: 20px;
}
.movie img{
  width: 200px;
  height: 250px;
  border-radius: 7px;
}


/*------------------------- LOADING------------------ */

#loader{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}



/* -----------------------MOVIEDETALS-------------- */

.movie-details{
  /* background-color: rgb(204, 242, 255); */
  padding: 50px 100px;
  display: flex;
  justify-content:center;
  align-items: flex-start ;
  flex-wrap: wrap;
}
.movie-details>img{
  width: 320px;
  height: 400px;
  margin: 0px 50px;
  object-fit: scale-down;
}
.details{
  width: 500px;
}
.details p{
  margin: 10px 0px;
}
.details p span{
  color: black;
  font-size: 18px;
  font-weight: 600;
}
.details button{
  background-color: #009e6f;
  color: #ffffff;
  padding: 8px 18px;
  margin-right:20px;
  border: #009e6f solid 1px;
  border-radius: 3px;
}
.details button:hover{
  background-color: #ffffff;
  color: #009e6f;
}
.trailer-cont{
  margin-top: 20px;
}
.trailer-cont h1{
  margin: 5px 0px;
}


/* ---------------ADD MOVIES------------------ */


.add-movie{
  text-align: center;
}
.add-movie h1{
  margin: 20px auto;
}

.add-movie form{
  background-color: #009e6f;
  width: 450px;
  height: auto;
  margin: 30px auto;
  padding: 20px;
  border-radius: 7px;
}
.add-movie form input {
  display: block;
  width: 90%;
  height: 35px;
  margin: 8px auto;
  padding-left: 10px;
  border: none;
  border-radius: 4px;
}
.add-movie form input[type="checkbox"]
{
  display: inline-block;
  width:15px;
  height:15px;
} 
.gener-options , .language-options {
  width:90%;
  display:grid;
  grid-template-columns: 20% 70%;
}





.add-movie form input[type="submit"] 
{
  width: 60%;
  margin: 25px auto 20px auto;
}


.add-movie input[type="submit"]:active 
{
    background-color: black;
    color: white;
}


/* ------------profile------------- */

.profile{

}
#cover{
  width: 100%;
  height: 350px;
  margin-top: -200px;
}

#profilePic{
  width: 150px;
  height: 150px;
  margin-left: 200px;
  margin-top: -70px;
  border: solid 8px white;
  border-radius: 50%;
  transition: 0.3s;
}
#profilePic:hover{
  transform: scale(1.2);
  border: solid 4px white;
}
.profile h1{
  margin-left: 200px;
}
.btns{
  margin: 20px 0px 20px 200px;
}
.profile button{
  display: inline-block;
  background-color: #009e6f;
  margin: 20px 10px;
  padding: 8px 20px;
  border:  solid #009e6f 1px;
  border-radius: 3px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  transition: 0.2s;
}
.profile button:hover{
  background-color:white ;
  color: #009e6f;
}


/* update profile */
.update-profile input{
  display: block;
  width: 200px;
  height: 30px;
  margin: 8px 2px;
  padding-left: 10px;
  border: solid 1px #009e6f;
}
.update-profile input[type="submit"]{
  padding-left: 0px;
  background-color: #009e6f;
  color: white;
}
.update-password input{
  display: block;
  width: 200px;
  height: 30px;
  margin: 8px 2px;
  padding-left: 10px;
  border: solid 1px #009e6f;
}
.update-password input[type="submit"]{
  padding-left: 0px;
  background-color: #009e6f;
  color: white;
}
#hamberger{
  display: none;
}
#hamberger i{
  color: white;
  font-size: 30px;
}
#menu{
  background-color: rgba(0, 0, 0, 0.515);
  padding: 10px;
  position: absolute;
  right: 80px;
  top: 70px;
  animation: menuanime 0.3s;
}
#menu a{
  display: block;
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
  margin: 8px 0px;
}
@keyframes menuanime {
  0%{
    transform: scale(0);
  }
  100%{
    transform: scale(1);
  }
}

@media (max-width:950px) 
{
  nav{
  }
  #nav-link{
    display: none;
  }
  #hamberger{
    display: block;
  }
}
@media (max-width:550px) 
{
  nav{
    padding: 0px 30px;
    justify-content: space-between;
  }
  #logo a{
    font-size:22px;
  }
  #logo a span{
    font-size: 30px;
  }
}
